#!/bin/bash

export SPARK_MASTER=""

# true/false
export USE_HDFS=false

# not required if using HDFS
export LOCAL_DATA_DIR=""

# required if using HDFS
export HDFS_DATA_DIR=""
export HDFS_OUTPUT_DIR=""
